.alert{
color: #155724;
background-color: #d4edda;
border-color: #c3e6cb;
padding: 0.75rem 1.25rem;
border: 1px solid transparent;
border-radius: 0.25rem;
font-family: 'Indie Flower', cursive;
align-items:center;
height: 500px;
width: 500px;
top: 70px;
position: absolute;
left: 50%;
transform: translate(-50%, 0);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.navbar-nav{
  display: flex;
  list-style: none;
}
.nav-item{
  padding: 10px;
  color:  #4ECCA3;
  font-size: 30px;
}

a{
  text-decoration: none;
  color:  #4ECCA3;
}

button{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  padding: 0.55rem 1rem;
  border-radius: 0.25rem;
  border-color: green;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
h2{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
h4{
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

nav{
display: inline-block;
padding-top: 0.3125rem;
padding-bottom: 0.3125rem;
margin-right: 1rem;
font-size: 1.25rem;
line-height: inherit;
white-space: nowrap;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

li{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
